<div class="b-sidebar">
  <div class="b-widget">

    <h3 class="b-widget__title">Оформление</h3>
    <!-- /.b-widget__title -->
    <div class="b-widget__content text-center">
      <a href="#" class="button button_round">Все</a>
      <!-- <a href="#" class="button">Все</a> -->
    </div>
    <!-- /.b-widget__content -->
  </div>
  <!-- /.b-widget -->

  <div class="b-widget">
    <h3 class="b-widget__title">Редкость</h3>
    <!-- /.b-widget__title -->
    <div class="b-widget__content text-center">
      <a href="#" class="button button_round">Все</a>
      <!-- <a href="#" class="button">Все</a> -->
    </div>
    <!-- /.b-widget__content -->
  </div>
  <!-- /.b-widget -->

  <div class="b-widget">
    <h3 class="b-widget__title">Тип</h3>
    <!-- /.b-widget__title -->
    <div class="b-widget__content text-center">
      <a href="#" class="button button_round">Все</a>
      <!-- <a href="#" class="button">Все</a> -->
    </div>
    <!-- /.b-widget__content -->
  </div>
  <!-- /.b-widget -->

  <div class="b-widget">
    <h3 class="b-widget__title">Категория</h3>
    <!-- /.b-widget__title -->
    <div class="b-widget__content text-center">
      <ul class="b-filter-list">

        <li class="b-filter-list__item">
          <input type="radio" name="type" id="type_1" class="b-filter-list__input-radio">
          <label class="b-filter-list__label" for="type_1">Обыч</label>
        </li>
        
        <li class="b-filter-list__item">
          <input type="radio" name="type" id="type_2" class="b-filter-list__input-radio">
          <label class="b-filter-list__label" for="type_2">StarTrak</label>
        </li>
        
        <li class="b-filter-list__item">
          <input type="radio" name="type" id="type_3" class="b-filter-list__input-radio">
          <label class="b-filter-list__label" for="type_3">Сувенир</label>
        </li>
        
        <li class="b-filter-list__item">
          <input type="radio" name="type" id="type_4" class="b-filter-list__input-radio">
          <label class="b-filter-list__label" for="type_4">X StarTrak</label>
        </li>

      </ul>
      <!-- <a href="#" class="button button_round">Все</a> -->
      <!-- <a href="#" class="button">Все</a> -->
    </div>
    <!-- /.b-widget__content -->
  </div>
  <!-- /.b-widget -->


  <div class="b-widget b-widget_banner">
    <!-- <h3 class="b-widget__title">Тип</h3> -->
    <!-- /.b-widget__title -->
    <div class="b-widget__content text-center">
      <!-- <a href="#" class="button button_round">Все</a> -->
      <!-- <a href="#" class="button">Все</a> -->
      <a href="#" class="b-banner">
        <img src="{{site.baseurl}}img/banner1.png" alt="" class="b-banner__img">
      </a>
    </div>
    <!-- /.b-widget__content -->
  </div>
  <!-- /.b-widget -->

</div>
<!-- /.b-sidebar -->